* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/**icon style starts here**/

@font-face
{
 
  font-family: "IcoFont";
font-weight: normal;
font-style: "Regular";
src: url("../fonts/icofont.woff2") format("woff2"),
url("../fonts/icofont.woff") format("woff");
}

[class^="icofont-"], [class*=" icofont-"]
{
  font-family: 'IcoFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icofont-search-2:before
{
  content: "\ed12";
}

.icofont-arrow-right:before
{
  content: "\ea5d";
}

.icofont-arrow-left:before
{
  content: "\ea5c";
}

.icofont-close-circled:before
{
  content: "\eedd";
}

.icofont-facebook:before
{
  content: "\ed37";
}

.icofont-instagram:before
{
  content: "\ed46";
}

.icofont-twitter:before
{
  content: "\ed7a";
}

.icofont-linkedin:before
{
  content: "\ed4d";
}

.icofont-tick-mark:before
{
  content: "\f00e";
}

.icofont-location-pin:before
{
  content: "\ef79";
}

.icofont-email:before
{
  content: "\ef12";
}

.icofont-phone:before
{
  content: "\efbb";
}

.icofont-rocket-alt-2:before
{
  content: "\ee2c";
}

.icofont-computer:before
{
  content: "\eeee";
}

.icofont-tools-alt-2:before
{
  content: "\f013";
}

.icofont-bulb-alt:before
{
  content: "\eec9";
}

.icofont-stock-mobile:before
{
  content: "\e977";
}

.icofont-brainstorming:before
{
  content: "\ead3";
}
.icofont-caret-down:before
{
  content: "\ea67";
}

	 /**icon style end here**/

h1,h2,h3{
	font-family: 'poppinssemibold',Arial, Helvetica, sans-serif;

}
body {
	font-family: 'poppinsregular',Arial, Helvetica, sans-serif;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
br.clear{
	clear: both;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	color: #000000;
	line-height: 1.7em;
	font-family: 'poppinslight',Arial, Helvetica, sans-serif;
	font-size: 14px;
}
a:hover,[type="submit"]:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.wrapper {
	width: 95%;
	margin: 0 auto;
	max-width:1400px;
}

a{
	color: #1a293c;
}
#home{
	background-color: #fff;
}
#home section.container{
	background: url(../images/cover.jpg) no-repeat center center;
	background-size: cover; 
}
#home section.container div.overlay{
	background: rgb(0 0 0 / 51%);
	padding: 1% 6% 12% 12%;	
}
#home section.container header {
	width:100%;
	margin:0 auto;
	padding:20px auto;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
#home section.container header h1.left a{
	color: #fff;
	font-weight: bold;
    font-size: 30px;
}
#home section.container header nav.right{
	line-height: 50px;
}
#home section.container header nav.right ul{
	display: flex;
}
#home section.container header nav.right ul li{
	display: inline-block;
	margin-right: 30px;
}
#home section.container header nav.right ul li:last-child{
	margin-right: 0;
}
#home section.container header nav.right ul li a.button{
	padding: 0px 20px 0 20px;
    border-radius: 6px;
    background: #55402500;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    border: 1px solid;
}
#home section.container header nav.right ul li a{
	color: #fff;
}
#spotlight{
	margin-top: 11%;
}
#spotlight section.content  h2{
	font-size: 43px;
	line-height: 1.4em;
	font-weight: bold;
	color: #fff;
}
#spotlight section.content p{
	margin: 35px 0;
	width:50%;
	color: #fff;
	line-height: 1.7em;
}
#spotlight section.content a.button{
	padding: 15px 50px;
	border-radius: 6px;
	border: 1px solid;
	display: inline-block;
	color: #fff;
	font-size: 17px;
}
#services{
	padding: 80px 0 80px 0;
}
#services div.top span{
	color: #a49999;
	font-weight: bold;
	font-size: 25px;
}
#services div.top h2{
	margin: 20px 0 40px;
	font-weight: bold;
	font-size: 40px;
}

#services div.bottom  ul li{
	width: 31%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	padding:15px 25px 25px 25px;
	box-sizing: border-box;
	display: inline-block;
	margin-right: 3%;
}
#services div.bottom  ul li:last-child{
	margin-right: 0;
}

#services div.bottom ul li h3{
	margin:10% 0 6% 0;
	font-weight: bold;
	font-size: 20px;
}
#about section.container{
	display: flex;
}
#about section.container div.left{
	width: 50%;
}
#about section.container div.left img{
	width: 100%;
}
#about section.container div.right{
 	margin-left: 6%;
 	width: 50%;
}
#about section.container div.right span{
	color: #a49999;
	font-weight: bold;
	font-size: 25px;
}
#about section.container div.right h2{
	margin: 3% 0 3% 0;
	font-size: 40px;
	font-weight: bold;
}
#about section.container div.right p{
	margin-bottom: 12%;
	text-align: justify;
}
#about section.container div.right a.button{
	padding: 20px 50px;
	border-radius: 14px;
	border: 1px solid #000;
	display: inline-block;
	color: #000;
	font-weight: bold;
	font-size: 16px;
}
#stat{
	padding: 80px 0 80px 0;
}
#stat section.wrapper ul{
	list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#stat section.wrapper ul li{
	width: 46%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: inline-block;
    margin: 0 4% 2% 0;
	text-align: center;
	padding: 3%;
}
#stat section.wrapper ul li.one{
	background-color: #58C56F;
}
#stat section.wrapper ul li.two{
	background-color: #F55D90;
}
#stat section.wrapper ul li.three{
	background-color: #338AD1;
}
#stat section.wrapper ul li.four{
	background-color: #F9C403;
}
#stat section.wrapper ul li:nth-child(even){
	margin-right: 0;
}
#stat section.wrapper ul li h3{
	margin: 2% 0 2% 0;
	font-size: 30px;
}
#stat section.wrapper ul li p{
 color: #fff;
 margin-bottom: 3%;
}
#stat section.wrapper ul li a.button{
	padding: 10px 20px;
    background: #ff750000;
    display: inline-block;
    color: #fff;
    font-weight: bold;
	font-size: 16px;
	border: 2px solid;
}
#stat section.wrapper ul li span.count{
	font-size: 35px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 4%;
    left: 4%;
}
#reviews div.top{
	text-align: center;
}
#reviews div.top span{
	color: #a49999;
	font-weight: bold;
	font-size: 25px;
}
#reviews div.top h2{
	margin: 2% 0 2% 0;
	font-size: 40px;
	font-weight: bold;
}
#reviews div.bottom ul li{
	margin-right: 2%;
	width: 18%;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
}
#reviews div.bottom ul li:last-child{
	margin-right: 0;	
}
#reviews div.bottom ul li h4{
	margin: 3% 0 3% 0;
	color:#726969;
	font-size: 19px;
}
#reviews div.bottom ul li span{
	font-size: 11px;
}
#reviews div.bottom ul li img{
	width: 100%;
}
#blog{
	padding: 80px 0 80px 0;
	text-align: center
}
#blog section.top h2{
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 40px;
}
#blog section.bottom ul li{
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	display: inline-block;
	border-bottom: 1px solid #e9dde9;
}	
#blog section.bottom ul li div.container{
	height: 197px;
    overflow: hidden;
}
#blog section.bottom ul li div.container img{
	width: 100%;
}
#blog section.bottom ul li div.content{
	padding: 25px;
	text-align: center;

}
#blog section.bottom ul li div.content h5{
	margin: 4% 0 4% 0;
	color: #e86b00;
	font-weight: bold;
}
#blog section.bottom ul li div.content div.foot a{
	font-size: 12px;
}
.owl-dot {
    display: inline-block;
    margin: 4px;
}
.owl-dots .owl-dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dee2e6;
}
.owl-dots .owl-dot.active span {
    background: #007bff;
}

#footer {
	padding: 40px 0 40px 0;
	background: #3a3838; 
}
#footer section.top{
	display: flex;
	justify-content: space-between;
}
#footer section.top div.item{
	width:20%;
	border-bottom: 1px solid #e9dde9;
}
#footer section.top div.item h1{
	font-weight: bold;
	font-size: 30px;
	color: #fff;
}
#footer section.top div.item p{
	margin: 8% 0 8% 0;
	color:#fff;
	font-size: 20px;
	font-style: italic;
}
#footer section.top div.item h3{
	margin-bottom: 8%;
	color:#fff;
}
#footer section.top div.item ul li{
	margin-bottom: 20px;
	font-size: 14px;
}
#footer section.top div.item ul li:last-child{
	margin-bottom: 0;
}
#footer section.top div.item ul li a{
	color: #fff;
}
#footer section.top div.item ul li a i{
	margin-right: 10px;
}


/*responsive start here*/

@media all and (max-width: 1980px){
	header nav.mobile-menu, span.close-icon, span.menu-icon{
		display: none;
	}
}
/*@media all and (max-width: 980px){
	#services div.bottom ul li{
		width: 30%;
	}
}*/
@media all and (max-width: 768px){
	
}
@media all and (max-width: 640px){
	header nav.menu{
		display: none;
	}
	header span.menu-icon{
		display: block;
		float: right;
		width: 32px;
		height: 32px;
		cursor: pointer;
		top: 38px;
		position: absolute;
		right: 45px;
	}
	header span.close-icon{
		position: absolute;
		width: 32px;
		height: 32px;
		cursor: pointer;
		z-index: 55;
		right: 45px;
		top: 38px;
	}
	header nav.mobile-menu{
		background-color:#e86b00;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		padding-top: 40px; 
	}
	header nav.mobile-menu ul li{
		margin-bottom: 30px;
		display: block;
		text-align: center;
		font-size: 18px;
		font-family: 'josefin_sansitalic';
	}
	#services div.bottom ul li {
    	width: 30%;
	}
	#stat section.wrapper ul li h3{
		font-size: 20px;
	}
	#reviews div.bottom ul li img {
    	width: 81%;
	}
	#reviews div.bottom ul li {
     	width: 47%;
     	margin: 0 0 4% 0;
 	}
 	#reviews div.bottom ul li:last-child {
	    margin: 0 0 0 28%;
	}
	#stat section.wrapper ul li span.count {
    	font-size: 25px;
	}
@media all and (max-width: 480px){
	#home section.container header h1.left a {
	    font-size: 28px;
    }
    #spotlight section.content h2 {
    	font-size: 30px;
	}
	#spotlight section.content a.button {
   		padding: 15px 6px;
    	font-size: 15px;
	}
	#services div.top h2 {
	    font-size: 30px;
    }
    #services div.bottom ul{
    	display: flex;
    }
    #services div.bottom ul li {
    	width: 40%;
	}
	#about section.container {
    	display: block;
	}
	#about section.container div.left{
		width: 124%;
		margin-bottom: 10%;
	}
	
	#about section.container div.right {
    	width: 124%;
    	margin-left: 0;
    	text-align: center;
	}
	#about section.container div.right h2 {
    	margin: 5% 0 5% 0;
    	font-size: 30px;
	}
	#about section.container div.right a.button {
    	padding: 20px 18px;
    }
    #stat section.wrapper ul li {
    	width: 100%;
    	margin: 0 0 8% 0;
    }
    #stat section.wrapper ul li:last-child{
    	margin-bottom: 0;
    }
    #stat section.wrapper ul li h3 {
	    margin: 2% 0 5% 0;
	    font-size: 25px;
	}
	#stat section.wrapper ul li span.count {
	    font-size: 30px;
	    left: 2%;
	}
	#reviews div.bottom ul li {
   		width: 49%;
   		margin: 0 0 8% 0;
	}
	#reviews div.bottom ul li:last-child {
    	margin: 5% 0 0 30%;
	}
	#reviews div.bottom ul li h4 {
    	font-size: 15px;
    	font-weight: bold;
	}
	#footer section.top div.item h1 {
    	font-size: 18px;
	}
	#footer section.top div.item p {
    	font-size: 16px;
	}
	#footer section.top div.item h3 {
    	font-size: 15px;
	}
	#footer section.top div.item ul li a {
		font-size: 12px;
	}
	#footer section.top div.item ul li a i{
		margin-right: 2px;
	}
}



